*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    height: 5000px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: #272730;
    text-align: center;
}

.Viztitle {
    color: #272730;
    font-size: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: color 1s ease-in-out;
    animation: pp 7s linear;
}

.Viztitle:hover {
    color: red;
}

.waves {
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 85%;
    width: 100%;
    background: url(2022_02_06_0ml_KlekiCROPINFINITE.png);
    background-size: 50% 25%;
    background-repeat: repeat-x;
    animation: flow 7s linear;
}

.water {
    position: absolute;
    height: 63.8%;
    width: 100%;
    bottom: 0%;
    left: 0%;
    background-color: #2a7ebf;
    animation: flow2 7s linear;
}

@keyframes pp {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes flow {
    0% {
        background-position: 400% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes flow2 {
    0% {
        height: 0%;
    }
    100% {
        height: 63.8%;
    }
}

